.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90vw;
  height: 90vh;
  padding-top: 95px;
  padding-left: 180px;
}

.img {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image {
  max-width: 120%;
  height: 800px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.postInfoAddress {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.postInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.postInput select {
  padding: 15px;
  width: 155px;
  background-color: transparent;
  border: 1px solid #002E50;
  border-radius: 10px;
}

.postInput input {
  padding: 15px;
  width: 450px;
  background-color: transparent;
  border: 1px solid #002E50;
  border-radius: 10px;
}

.postSubmit button {
  background-color: #002E50;
  color: #fff;
  padding: 10px 100px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s;
  margin-top: 10px;
  width: fit-content;
}

.alert {
  color: red;
  background-color: lightgray;
  padding: 20px 120px;
  text-align: center;
}

.title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #002E50;
}

.subtitle {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #002E50;
}

.PhoneId, .NameHotline{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.PhoneId p{
  font-size: 14px;
}

.postInput p{
  font-size: 14px;
}

.NameHotline p{
  font-size: 14px;
}


.PhoneIdInput input{
  padding: 15px;
  width: 205px;
  background-color: transparent;
  border: 1px solid #002E50;
  border-radius: 10px;
}

.NameHotline input{
  padding: 15px;
  width: 205px;
  background-color: transparent;
  border: 1px solid #002E50;
  border-radius: 10px;
}

.formContent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}


