.container th, td {
  color: black; /* Chữ màu đen */
}

.acceptbutton {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  background-color: #fcc737;
  cursor: pointer;
  margin-right: 10px;
}

.maincontainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90vw;
  height: 90vh;
  padding-top: 90px;
  padding-left: 50px;
}

.tablecontainer {
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 80vh; /* Chiều cao của bảng */
  display: block; /* Cho phép bảng cuộn khi nội dung dài */
  overflow-y: auto;
}

.tablecontainer th,
.tablecontainer td {
  padding: 12px 60px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  vertical-align: top; /* Căn nội dung lên trên */
}


