.navbar {
  background-color: #ffffff;
  color: #002E50;
  height: 50px;
  width: 100%;
  position: fixed;
  margin-left: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 10px 30px;
  border-bottom: 1px solid #002E50;
  z-index: 1000;
}

.hello{
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #002E50;
}

.welcome{
  color: #002E50;
}

.searchbar{
  width: 200px;
  padding: 10px;
  border-radius: 20px;
  background-color: #242731;
  color: white;
  border: none;
}

.groupicon{
  display: flex;
  gap: 10px;
  background-color: #242731;
  padding: 10px;
  border-radius: 20px;
}

.right{
  display: flex;
  gap: 30px;
}