.sidebar {
  height: 100%;
  width: 150px;
  background-color: #ffffff;
  color: #002E50;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  border-right: 1px solid #002E50;
  transition: width 0.3s ease; /* Smooth transition for width change */
  z-index: 1000;
}

.sidebar.collapsed {
  width: 60px; /* Width when collapsed */
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logocontent {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.logo {
  width: 60px;
  height: 60px;
}

.logotitle {
  font-size: 20px;
  color: #fcc737;
  font-weight: bold;
  transition: opacity 0.3s ease; /* Smooth transition for logo title */
}

.logotitle.hidden {
  opacity: 0; /* Hide logo title when collapsed */
}

.collapseButton {
  font-size: 24px; /* Size of the 3 dots */
  cursor: pointer;
  background: none;
  border: none;
}

.menuItem {
  padding: 10px;
  cursor: pointer;
  align-items: center;
  justify-items: center;
  display: flex;
  margin-bottom: 10px;
  font-size: 14px;
  gap: 20px;
}

.menuItem svg {
  font-size: 24px; /* Icon size */
}

.menuItem:hover {
  background-color: #002E50;
  border-radius: 20px;
  color: #fcc737;
}

.active {
  background-color: #94DA22;
  color: black;
  font-weight: bold;
  border-radius: 20px;
}

.menuItem.active {
  background-color: #94DA22; /* Highlight the active item */
  color: black;
  font-weight: bold;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; /* Ensure the collapse button is positioned correctly */
}
