.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup form {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  width: 400px;
  color: #000000;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.inputpopup {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  width: 400px;
  color: #000000;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.submitpopup {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background: white;
  border-radius: 10px;
  width: 400px;
  color: #000000;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.popup input {
  width: 300px;
  padding: 8px;
  margin: 8px 0;
}

.popup button {
  width: 150px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}
