.header {
  color: #fff;
  background-color: #000;
  padding: 1rem 0;
}

.img {
  width: 65px;
  height: 50px;
}

.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #00aaff;
    }
  }
}
.greeting {
  margin-right: 1rem;
  font-size: 1rem;
  color: white;
}

.searchbar {
  padding: 10px;
  border-radius: 10px;
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  gap: 20px;

  .login{
    color: #ffffff;
  }

  .login:hover{
    color: #FCC737;
  }
  
  .register{
    color: #FCC737;
    padding: 8px 16px; 
    border: 1px solid #FCC737; 
    border-radius: 4px; 
    cursor: pointer;
    transition: all 0.3s ease; 
    background-color: transparent; 
  }

  .register:hover{
    background-color: #FFF574; 
    color: black; 
    border-color: #FFF574; 
  }
}

.userMenu {
  position: relative;
  display: inline-block;
}

.dropdown {
  position: absolute;
  right: 50;
  top: 40px;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 200px;
  padding: 10px;
  z-index: 10;
}

.dropdown p {
  padding-left: 8px;
  color: #000000;
}

.dropdown hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 5px 0;
}

.dropdown button {
  width: 100%;
  padding: 8px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  color: #000000;
}
