.tableuser {
  color: #002e50;
}

.tableuserHeader {
  text-align: left;
  border: none;
  color: #002e50;
}

.tableCell {
  color: #002e50;
}

.tableRow td {
  color: #002e50;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableuser {
  width: 100%;
  border-collapse: collapse;
  color: #002e50;
}

.tableuser th,
td {
  padding: 10px;
  text-align: left;
  color: #002e50;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filters {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
}

.filters button {
  padding: 10px 20px;
  background-color: #002e50;
  color: #fcc737;
  border-radius: 10px;
  cursor: pointer;
}

.tableCell button {
  padding: 10px 20px;
  background-color: #fcc737;
  color: #002e50;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
