.servicesSection {
  padding: 40px 0;
  background-color: #f8f8f8;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.sub{
  font-size: 20px;
  margin-bottom: 0;
  color: #FCC737;
  font-weight: bold;
}

.mainTitle{
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;

}
.subTitle{
  margin-bottom: 40px;
}

.servicesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.serviceItem {
  border-radius: 8px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.serviceIcon {
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
}

.serviceTitle {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

.serviceDescription {
  font-size: 1em;
  color: #666;
  text-align: center;
}