.container {
  padding: 10px;
}

.content {
  width: 100%;
  border-collapse: collapse;
  color: #002E50;
}

.content th, td {
  padding: 10px;
  text-align: left;
  color: #002E50;
  white-space: nowrap; 
  overflow: hidden;    
  text-overflow: ellipsis; 
}

.text td {
  color: #002E50;
  white-space: nowrap; 
  overflow: hidden;    
  text-overflow: ellipsis; 
}

.filters{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
}

.filters button{
  padding: 10px 20px;
  background-color: #002E50;
  color: #fcc737;
  border-radius: 10px;
  cursor: pointer;
}

.content table{
  font-size: 12px;
}

